/* fq CSS 26.10.2020 */

/* Reset Webflow’s a color */
.single-nav-bar a { 
	text-decoration:inherit !important; 
	color: inherit !important; 
}


/* minimum desktop font size */

@media (min-width: 700px) {
	*{
  font-size: min(12px);
	}
}


/*###       Justify Fix     ###*/
.fulljustify {
  text-align: justify;
}

/* .fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
} */

/*###       Img Hover       ###*/

#FakeBoris:hover + .fake-boris .img_gallery{
  display: block;
}
 
/*###       Cursors         ###*/
  
.plyr__video-embed, iframe, .videodiv, .controlblocker, .previewvideo  {
  cursor: url("https://uploads-ssl.webflow.com/5e0898430d37a1428029df27/5f353fc4b89a6a4b2986a420_Play_Cursor_32x32.png"), auto !important;  
}



/*###       Plyr            ###*/

/* general style */
:root {
  --plyr-color-main: #000000;
  --plyr-video-controls-background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.plyr--video{
background:transparent;}

/* rounded borders */
.preview-vimeo-embed video, .plyr{
    border-radius: 4px;
}

/* hide vimeo/YT logo id no link is available */
.plyr__control[href='undefined']{
    display:none;
}

/* iOS hack */

@supports (-webkit-touch-callout: none) {
	.credit-columns{
	    padding-bottom: 12vh;
	}

}
	
/* mobile striped back controls */
@media (max-width: 480px) {
	.plyr__volume{
		display:none;
	}

	body {
	  min-height: 100vh;
	  /* mobile viewport bug fix */
	  min-height: -webkit-fill-available;
	}

	html {
	  height: -webkit-fill-available;
	}
	
}


/* Plyr big button hide/show*/

.plyr__controls{
	display: none;
}
.plyr__video-wrapper.plyr__video-embed {
    	display: none;
}


/* Will DVD Screensaver */

.marquee {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width:100px;
  height:100px;
}

.logo {
  width:100px;
  height:100px;
}
